<!-- {% extends 'base.html' %}
{% block content %}
    <h1>Hello, {{user.name}}.</h1>
    {% for dma in dmas %}
    <p>DMA number {{dma.number}}: ({{dma.name}}) {{dma.markets.stations}}</p>
    {% endfor %}
{% endblock %}
</body>
</html> -->

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}TV Ad Buy Monitor{% endblock %}

{% block page_content %}
<div class='page-header'>
    <h1>Hello, {% if name %}{{ name }}{% else %}stranger{% endif %}.</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}